@page "/"
@attribute [TabItemOption(Text = "Index", Closable = false)]

<PageTitle>Index</PageTitle>

<h1>Hello, HEUer!</h1>

Welcome to Course Claimer.

<SurveyPrompt Title="How is Blazor working for you?" />
