@page "/tableEntity"
@using CourseClaimer.Wisedu.Shared.Models.Database
@using CourseClaimer.Wisedu.Shared.Services
@inject EntityManagementService EMS

<Table TItem="EntityRecord" IsPagination="true" PageItemsSource="[20, 40, 100]" class="table-demo"
       IsStriped="true" IsBordered="true" ShowSkeleton="true" IsMultipleSelect="false"
       ShowToolbar="true" ShowSearch="true" ShowExtendButtons="true" IsExtendButtonsInRowHeader="true" ShowTopPagination="true"
       AutoGenerateColumns="true" EditMode="EditMode.Popup" OnQueryAsync="OnQueryAsync">
    <TableColumns>
        <TableColumn @bind-Field="@context.Id" Ignore="true" />
        <TableColumn @bind-Field="@context.UserName" Searchable="true" DefaultSortOrder="SortOrder.Asc"></TableColumn>
    </TableColumns>
</Table>

@code
{
    public async Task<QueryData<EntityRecord>> OnQueryAsync(QueryPageOptions options)
    {
        var customers = await EMS.Query<EntityRecord>(options);
        return new QueryData<EntityRecord>
        {
            Items = customers.Data,
            TotalCount = customers.Total
        };
    }
}